<!DOCTYPE html>
<html>
  <head>
    <title>Aaron's GPT Prompts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Aaron's Flask Demo</h1>
      <p>
        This is a demo of some of Aaron's GPT prompts. Check out the tools
        below:
      </p>

      <div>
        <a href="/aaron_comment">Java Comments Generator</a>
        <p>
          This tool generates high-quality comments for Java code automatically
          based on the code's structure and functionality.
        </p>
      </div>

      <div>
        <a href="/aaron_descriptions">Java Code Description Maker</a>
        <p>
          This tool creates clear and concise descriptions for Java code by
          analyzing the code's purpose and functionality. It cannot handle long
          code as it would consume too many tokens.
        </p>
      </div>

      <div>
        <a href="/aaron_pseudo">Java Pseudocode Maker</a>
        <p>This tool creates pseudocode compliant with data structures.</p>
      </div>

      <div>
        <a href="/aaron_about">About the Tools</a>
        <p>Explanation of this section.</p>
      </div>
    </div>
  </body>
</html>
