<!DOCTYPE html>
<html>
  <head>
    <title>Aby's GPT Prompts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Aby's Flask Demo</h1>
      <p>
        This is a demo of some of Aby's GPT prompts. Check out the tools below:
      </p>

      <div>
        <a href="/prompt_aby/businessModel">Get Business Model</a>
        <p>Test</p>
      </div>

      <div>
        <a href="/prompt_aby/business">Get Business</a>
        <p>Test</p>
      </div>

      <div>
        <a href="/prompt_aby/patent">Is this patented?</a>
        <p>Test</p>
      </div>
    </div>
  </body>
</html>
