<!DOCTYPE html>
<html>
  <head>
    <title>Aby's GPT Prompts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Aby's Flask Chat-GPT Demo</h1>
      <p>
        This is a demo of some of Aby's GPT prompts. Check out the tools below:
      </p>

      <div>
        <a href="/prompt_aby/businessModel">Business Model</a>
        <p>Find a buisness model for your flask app</p>
      </div>

      <div>
        <a href="/prompt_aby/business">Business</a>
        <p>Already have a flask app? How much money can you make?</p>
      </div>

      <div>
        <a href="/prompt_aby/patent">Patents</a>
        <p>Check if your idea is patented</p>
      </div>
    </div>
  </body>
</html>
