<!DOCTYPE html>
<html>
  <head>
    <title>Eugenio's GPT Prompts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Eugenio's Flask Demo</h1>
      <p>
        This is a demo of some of Eugenio's GPT prompts. Check out the tools
        below:
      </p>

      <div>
        <a href="/eugenio/runningtime">Running Time Analysis</a>
        <p ></p>
        <a href="/eugenio/space">Space Complexity Analysis</a>
        <p ></p>
        <a href="/eugenio/recursion"> Is there a recursive alternative to this algorithm?</a>
        <p ></p>

        
      </div>
    </div>
  </body>
</html>
