<!DOCTYPE html>
<html>
  <head>
    <title>Eugenio's GPT Prompts</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Eugenio's Flask Demo</h1>
      <p>
        This is a demo of some of Aaron's GPT prompts. Check out the tools
        below:
      </p>

      <div>
        <a href="/eugenio/sample">sample prompt</a>
        <p>Test</p>
      </div>

      <div>
        <a href="/eugenio/newPrompt">New prompt</a>
        <p>Test 2</p>
      </div>
    </div>
  </body>
</html>
