<!DOCTYPE html>
<html>
  <head>
    <title>Chat-GPT Flask Demo</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Chat-GPT Flask Demo</h1>
      <ul>
        <li>
          <a href="/aaron">Check out the prompts by Aaron</a>
        </li>
        <li>
          <a href="/eugenio">Check out the prompts by Eugenio</a>
        </li>
        <li>
          <a href="/rue">Check out the prompts by Rue</a>
        </li>
        <li>
          <a href="/aby">Check out the prompts by Aby</a>
        </li>
      </ul>
    </div>
  </body>
</html>
