<!DOCTYPE html>
<html>
  <head>
    <title>Rue's Python Code Tools</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Rue's Python Code Tools</h1>
      <p>
        This page contains links to Rue's Python code generator and module level docstring maker. Check out the tools below:
      </p>
      <div>
        <a href="/rue/code-generator">Python Code Generator</a>
        <p>Generate Python code easily with Rue's Python Code Generator.</p>
      </div>
      <div>
        <a href="/rue/docstring-maker">AAAAA</a>
        <p>Create module level docstrings easily with Rue's Module Level Docstring Maker.</p>
      </div>
      <div>
        <a href="/rue_about">Learn about the tools</a>
        <p>!!!!</p>
      </div>
    </div>
  </body>
</html>
